<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>{{ subtitle }}</h3>

  <mat-form-field class="search-form">
    <input matInput placeholder="Search Picture" type="text">
  </mat-form-field>
  <button button="submit" mat-raised-button color="primary">Search</button>
  <br>

  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-grid-tile-header>Likes {{ retrospective.LikesCount }}</mat-grid-tile-header>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
        <mat-card *ngFor="let item of retrospective.Likes">{{ item.Description }}</mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Dislikes {{ retrospective.DislikesCount }}</mat-grid-tile-header>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
        <mat-card *ngFor="let item of retrospective.Dislikes">{{ item.Description }}</mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Action Items {{ retrospective.ActionItemsCount }}</mat-grid-tile-header>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
        <mat-card *ngFor="let item of retrospective.ActionItems">{{ item.Description }}</mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

