<div *ngIf="retrospective">
  <mat-grid-list cols="4" rowHeight="800">
    <mat-grid-tile>
      <mat-grid-tile-header>
          <mat-toolbar style="background: transparent">
            <span style="font-size: 2em;margin-right: 10px;">Likes</span>
            <span>({{ retrospective.likesCount }})</span>
            <span class="expand-fill"></span>
            <button (click)="addLike()"><mat-icon>add</mat-icon></button>
          </mat-toolbar>
      </mat-grid-tile-header>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start">
        <mat-card *ngFor="let item of retrospective.likes">{{ item.description }}</mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            <mat-toolbar style="background: transparent">
              <span style="font-size: 2em;margin-right: 10px;">Dislikes</span>
              <span>({{ retrospective.dislikesCount }})</span>
              <span class="expand-fill"></span>
              <button (click)="addDislike()"><mat-icon>add</mat-icon></button>
            </mat-toolbar>
        </mat-grid-tile-header>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start">
        <mat-card *ngFor="let item of retrospective.dislikes">{{ item.description }}</mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            <mat-toolbar style="background: transparent">
              <span style="font-size: 2em;margin-right: 10px;">Action Items</span>
              <span>({{ retrospective.actionItemsCount }})</span>
              <span class="expand-fill"></span>
              <button (click)="addActionItem()"><mat-icon>add</mat-icon></button>
            </mat-toolbar>
        </mat-grid-tile-header>
      <div fxLayout="Column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start">
        <mat-card *ngFor="let item of retrospective.actionItems">{{ item.description }}</mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            <mat-toolbar style="background: transparent">
              <span style="font-size: 2em;margin-right: 10px;">Participants</span>
              <span>({{ retrospective.participants.length }})</span>
              <span class="expand-fill"></span>
              <button><mat-icon>add</mat-icon></button>
            </mat-toolbar>
        </mat-grid-tile-header>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start">
        <mat-card *ngFor="let item of retrospective.participants">{{ item }}</mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>