<div *ngIf="retrospective">
  <mat-grid-list cols="4" rowHeight="800">
    <mat-grid-tile>
      <mat-grid-tile-header>
          <mat-toolbar style="background: transparent">
            <span style="font-size: 2em;margin-right: 10px;">Likes</span>
            <span>({{ retrospective.likesCount }})</span>
            <span class="expand-fill"></span>
            <button mat-mini-fab color="primary" (click)="addLike()"><mat-icon>add</mat-icon></button>
          </mat-toolbar>
      </mat-grid-tile-header>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start start">
        <mat-card *ngFor="let item of retrospective.likes">          
          <mat-card-title>
            <button mat-icon-button color="primary"><mat-icon style="font-size: 18px;">thumb_up</mat-icon></button>
            <button mat-icon-button color="accent"><mat-icon style="font-size: 18px;">thumb_down</mat-icon></button>
            <button mat-icon-button ><mat-icon style="font-size: 18px;">delete</mat-icon></button>
          </mat-card-title>
          <mat-card-content>{{ item.description }}</mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            <mat-toolbar style="background: transparent">
              <span style="font-size: 2em;margin-right: 10px;">Dislikes</span>
              <span>({{ retrospective.dislikesCount }})</span>
              <span class="expand-fill"></span>
              <button mat-mini-fab color="primary" (click)="addDislike()"><mat-icon>add</mat-icon></button>
            </mat-toolbar>
        </mat-grid-tile-header>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start">
        <mat-card *ngFor="let item of retrospective.dislikes">
          <mat-card-title style="font-size: .5em">
              <button mat-icon-button color="primary"><mat-icon style="font-size: 18px;">thumb_up</mat-icon></button>
              <button mat-icon-button color="accent"><mat-icon style="font-size: 18px;">thumb_down</mat-icon></button>
              <button mat-icon-button ><mat-icon style="font-size: 18px;">delete</mat-icon></button>
            </mat-card-title>
          <mat-card-content>{{ item.description }}</mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            <mat-toolbar style="background: transparent">
              <span style="font-size: 2em;margin-right: 10px;">Action Items</span>
              <span>({{ retrospective.actionItemsCount }})</span>
              <span class="expand-fill"></span>
              <button mat-mini-fab color="primary" (click)="addActionItem()"><mat-icon>add</mat-icon></button>
            </mat-toolbar>
        </mat-grid-tile-header>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start">
        <mat-card *ngFor="let item of retrospective.actionItems">
          <mat-card-title style="font-size: .5em">
              <button mat-icon-button color="primary"><mat-icon>thumb_up</mat-icon></button>
              <button mat-icon-button color="accent"><mat-icon>thumb_down</mat-icon></button>
            </mat-card-title>
          <mat-card-content>{{ item.description }}</mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            <mat-toolbar style="background: transparent">
              <span style="font-size: 2em;margin-right: 10px;">Participants</span>
              <span>({{ retrospective.participants.length }})</span>
              <span class="expand-fill"></span>
              <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
            </mat-toolbar>
        </mat-grid-tile-header>
      <div fxLayout="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="start">
        <mat-card *ngFor="let item of retrospective.participants">{{ item }}</mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
